<%- include('../partials/header.ejs')%>
    <div class="container-fluid page-body-wrapper">
        <%- include('../partials/sidebar.ejs')%>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body custom-scrollbar">
                            <h4 class="card-title">Tài khoản người dùng</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ảnh</th>
                                        <th>Tên</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.map((user,index)=>{ %>
                                        <tr>
                                            <td>
                                                <%= index +1 %>
                                            </td>
                                            <td>
                                                <img src="/uploads/<%= user.avatar %>" alt="<%= user.username %>"/>
                                            </td>
                                            <td>
                                                <%= user.username %>
                                            </td>
                                            <td>
                                                <%= user.phone %>
                                            </td>
                                            <td>
                                                <%= user.email%>
                                            </td>
                                            <td>
                                                <i data-id="<%= user.id %>" class="mdi mdi-delete-forever"
                                                    style="color: #fe7c96;font-size: 20px;cursor: pointer;padding: 10px;"></i>
                                            </td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class="mdi mdi-arrow-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="mdi mdi-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <%- include('../partials/footer.ejs')%>